[Unit]
Description=Podman Manager Agent (Rootless)
After=podman.service

[Container]
Image=ghcr.io/brdweb/podman-manager/agent:latest
ContainerName=podman-manager-agent
Volume=__HOME__/.config/podman-agent:/etc/podman-agent:Z
Volume=%t/podman/podman.sock:/run/podman/podman.sock
Volume=__HOME__/.config/containers/systemd:/etc/containers/systemd:ro
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Environment=AGENT_MANAGER_URL=__MANAGER_URL__
Environment=AGENT_TOKEN=__TOKEN__
Environment=AGENT_TLS=false
Environment=AGENT_LOG_LEVEL=info
Environment=AGENT_LOG_FORMAT=json

[Service]
Restart=always

[Install]
WantedBy=default.target
