[Unit]
Description=Podman Manager Agent (Rootless)
After=podman.service

[Container]
Image=ghcr.io/brdweb/podman-manager/agent:latest
ContainerName=podman-manager-agent
Volume=%t/podman/podman.sock:/run/podman/podman.sock
Volume=$HOME/.config/containers/systemd:/etc/containers/systemd:ro
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Environment=AGENT_MANAGER_URL=__MANAGER_URL__
Environment=AGENT_TOKEN=__TOKEN__
Environment=AGENT_LOG_LEVEL=info
Environment=AGENT_LOG_FORMAT=json
Restart=always
ReadOnlyRootFilesystem=true

[Install]
WantedBy=default.target
